
.header-title {
  text-align: center;
  color: #199A8E;
  font-size: 30px;
  font-weight: 700;
}

.login-wrapper {
  margin: 10px auto auto;
  width: 1200px;
  display: flex;
  min-height: 640px;
  background: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-section {
  width: 40%;
  background: #199A8E;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
}

.left-section img {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.left-section h2 {
  font-size: 28px;
  text-align: center;
}

.right-section {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.form-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.form-toggle {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.form-toggle button {
  background: none;
  border: none;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
  color: #555;
}

.form-toggle button.active {
  color: #199A8E;
  border-bottom: 2px solid #199A8E;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  padding-right: 40px; /* Ko‘zcha uchun joy */
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #555;
}

.submit-btn {
  width: 100%;
  background-color: #fff;
  color: #199A8E;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.3s ease;
  padding: 12px;
  border-radius: 15px;
  border: 2px solid #199A8E;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #199A8E;
  color: #fff;
  transition: all 0.3s ease;
}

#signup-form {
  display: none;
}
